<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.moyunetdisk.mapper.FileFolderMapper">

    <resultMap type="com.moyu.moyunetdisk.entity.FileFolder" id="FileFolderMap">
        <result property="fileFolderId" column="file_folder_id" jdbcType="INTEGER"/>
        <result property="fileFolderName" column="file_folder_name" jdbcType="VARCHAR"/>
        <result property="parentFolderId" column="parent_folder_id" jdbcType="INTEGER"/>
        <result property="fileStoreId" column="file_store_id" jdbcType="INTEGER"/>
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getFileFolderCountByFileStoreId" resultType="java.lang.Integer">
        select count(*) from t_file_folder where file_store_id = #{id}
    </select>
</mapper>
