<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.moyunetdisk.mapper.MyFileMapper">

    <resultMap type="com.moyu.moyunetdisk.entity.MyFile" id="MyFileMap">
        <result property="myFileId" column="my_file_id" jdbcType="INTEGER"/>
        <result property="myFileName" column="my_file_name" jdbcType="VARCHAR"/>
        <result property="fileStoreId" column="file_store_id" jdbcType="INTEGER"/>
        <result property="myFilePath" column="my_file_path" jdbcType="VARCHAR"/>
        <result property="downloadTime" column="download_time" jdbcType="INTEGER"/>
        <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
        <result property="parentFolderId" column="parent_folder_id" jdbcType="INTEGER"/>
        <result property="size" column="size" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="postfix" column="postfix" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCountStatistics" resultType="com.moyu.moyunetdisk.entity.FileStoreStatistics">
        select sum(type = 1) doc,sum(type = 2) image,sum(type = 3) video,
               sum(type = 4) music,sum(type = 5) other,count(*) fileCount from t_my_file
        where file_store_id = #{id}
    </select>
</mapper>
